@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/lfb5whd.css");

.logo {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
}

* {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}