@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/lfb5whd.css");

.logo {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
}

@layer components {
    .icon {
        @apply relative flex items-center justify-center
                h-16 w-16 sm:h-24 sm:w-24 py-3 px-3 my-2 mx-auto shadow-lg bg-warning
                transition-all duration-300 ease-linear rounded-xl;
    }
}

@layer base {
    html {
        font-family: source-sans-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

