@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/lfb5whd.css");

.logo {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
}


@layer base {
    html {
        font-family: source-sans-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* About Section */
.mission {
  text-align: center;
  background-image: url(./assets/images/about.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  max-width: 100;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-image: url(./assets/images/team.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  max-width: 100;
}

.team li {
  list-style-type: none;
}

